In [1]:
import sys

print("--sys.version—")
print(sys.version)
print(sys.executable)
print(sys.path)
sys.path.append("/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages")

In [4]:
import os
print("PYTHONPATH:", os.environ.get('PYTHONPATH'))
print("PATH:", os.environ.get('PATH'))

In [3]:
import numpy as np
import pandas as pd

In [13]:
df = pd.read_csv('..//Data//trainKOR//180713_2.csv')
print(df.columns) # 한글로 된 거 영어로 바꿔야됨

Index(['번호', '시간', 'FWD', 'REV', 'P/B', 'Motoring', 'Braking',
       'Train In Station', 'OP Mode', 'Target Speed', 'Permitted Speed',
       'Actual Speed', 'DISTANCE', 'Train Speed', 'VOBC ＃1', 'VOBC ＃0',
       'MR Pressure', 'Master Clock of VOBC', 'Line Voltage',
       'Train In Station.1', 'Next Platform ID', 'Final Platform ID',
       'Distance to Target', 'BC ＃1', 'BC ＃2', 'BC ＃3', 'BC ＃4', 'Unnamed: 27',
       'Unnamed: 28', 'BC ＃7', 'BC ＃0', 'Train Room Temp ＃1',
       'Train Outside Temp ＃1', '편성번호', '열차길이'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43004 entries, 0 to 43003
Data columns (total 35 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   번호                     43004 non-null  int64
 1   시간                     43004 non-null  object
 2   FWD                    43004 non-null  int64
 3   REV                    43004 non-null  int64
 4   P/B                    43004 non-null  object
 5   Motoring               43004 non-null  int64
 6   Braking                43004 non-null  int64
 7   Train In Station       43004 non-null  int64
 8   OP Mode                43004 non-null  object
 9   Target Speed           43004 non-null  object
 10  Permitted Speed        43004 non-null  object
 11  Actual Speed           43004 non-null  object
 12  DISTANCE               43004 non-null  object
 13  Train Speed            43004 non-null  object
 14  VOBC ＃1                43004 non-null  int64
 15  VOBC ＃0                43004 non-null  int64
 16  MR Pressure            43004 non-null  object
 17  Master Clock of VOBC   43004 non-null  object
 18  Line Voltage           43004 non-null  object
 19  Train In Station.1     43004 non-null  int64
 20  Next Platform ID       43004 non-null  object
 21  Final Platform ID      43004 non-null  object
 22  Distance to Target     43004 non-null  object
 23  BC ＃1                  43004 non-null  object
 24  BC ＃2                  43004 non-null  object
 25  BC ＃3                  43004 non-null  object
 26  BC ＃4                  43004 non-null  object
 27  Unnamed: 27            0 non-null      float64
 28  Unnamed: 28            0 non-null      float64
 29  BC ＃7                  43004 non-null  object
 30  BC ＃0                  43004 non-null  object
 31  Train Room Temp ＃1     43004 non-null  object
 32  Train Outside Temp ＃1  43004 non-null  object
 33  편성번호                   43004 non-null  int64
 34  열차길이                   43004 non-null  int64
dtypes: float64(2), int64(11), object(22)
memory usage: 11.5+ MB

In [11]:
print(df.shape)
print(df.dtypes)

(43004, 35)
번호                         int64
시간                        object
FWD                        int64
REV                        int64
P/B                       object
Motoring                   int64
Braking                    int64
Train In Station           int64
OP Mode                   object
Target Speed              object
Permitted Speed           object
Actual Speed              object
DISTANCE                  object
Train Speed               object
VOBC ＃1                    int64
VOBC ＃0                    int64
MR Pressure               object
Master Clock of VOBC      object
Line Voltage              object
Train In Station.1         int64
Next Platform ID          object
Final Platform ID         object
Distance to Target        object
BC ＃1                     object
BC ＃2                     object
BC ＃3                     object
BC ＃4                     object
Unnamed: 27              float64
Unnamed: 28              float64
BC ＃7                     object
BC ＃0                     object
Train Room Temp ＃1        object
Train Outside Temp ＃1     object
편성번호                       int64
열차길이                       int64
dtype: object

In [8]:
df.describe() # 통계값들

,번호,FWD,REV,Motoring,Braking,Train In Station,VOBC ＃1,VOBC ＃0,Train In Station.1,Unnamed: 27,Unnamed: 28,편성번호,열차길이
count,43004.000000,43004.000000,43004.000000,43004.000000,43004.000000,43004.000000,43004.0,43004.0,43004.000000,0.0,0.0,43004.0,43004.0
mean,21502.500000,0.478072,0.424123,0.365571,0.433448,0.163194,1.0,1.0,0.163194,NaN,NaN,1002.0,6.0
std,12414.329825,0.499525,0.494215,0.481595,0.495557,0.369547,0.0,0.0,0.369547,NaN,NaN,0.0,0.0
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0,0.000000,NaN,NaN,1002.0,6.0
25%,10751.750000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0,0.000000,NaN,NaN,1002.0,6.0
50%,21502.500000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0,0.000000,NaN,NaN,1002.0,6.0
75%,32253.250000,1.000000,1.000000,1.000000,1.000000,0.000000,1.0,1.0,0.000000,NaN,NaN,1002.0,6.0
max,43004.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.000000,NaN,NaN,1002.0,6.0

In [9]:
df.count() # 몇 개쯤 있나

번호                       43004
시간                       43004
FWD                      43004
REV                      43004
P/B                      43004
Motoring                 43004
Braking                  43004
Train In Station         43004
OP Mode                  43004
Target Speed             43004
Permitted Speed          43004
Actual Speed             43004
DISTANCE                 43004
Train Speed              43004
VOBC ＃1                  43004
VOBC ＃0                  43004
MR Pressure              43004
Master Clock of VOBC     43004
Line Voltage             43004
Train In Station.1       43004
Next Platform ID         43004
Final Platform ID        43004
Distance to Target       43004
BC ＃1                    43004
BC ＃2                    43004
BC ＃3                    43004
BC ＃4                    43004
Unnamed: 27                  0
Unnamed: 28                  0
BC ＃7                    43004
BC ＃0                    43004
Train Room Temp ＃1       43004
Train Outside Temp ＃1    43004
편성번호                     43004
열차길이                     43004
dtype: int64

In [14]:
df.head()

,번호,시간,FWD,REV,P/B,Motoring,Braking,Train In Station,OP Mode,Target Speed,...,BC ＃3,BC ＃4,Unnamed: 27,Unnamed: 28,BC ＃7,BC ＃0,Train Room Temp ＃1,Train Outside Temp ＃1,편성번호,열차길이
0,1,12:02:40,1,0,71 (%),1,0,0,Driverless,0 (km/h),...,0 (kPa),0 (kPa),NaN,NaN,0 (kPa),0 (kPa),23 (℃),23 (℃),1002,6
1,2,12:02:41,1,0,71 (%),1,0,0,Driverless,0 (km/h),...,0 (kPa),0 (kPa),NaN,NaN,0 (kPa),0 (kPa),23 (℃),23 (℃),1002,6
2,3,12:02:42,1,0,65 (%),1,0,0,Driverless,0 (km/h),...,0 (kPa),0 (kPa),NaN,NaN,0 (kPa),0 (kPa),23 (℃),23 (℃),1002,6
3,4,12:02:43,1,0,63 (%),1,0,0,Driverless,0 (km/h),...,0 (kPa),0 (kPa),NaN,NaN,0 (kPa),0 (kPa),23 (℃),23 (℃),1002,6
4,5,12:02:44,1,0,63 (%),1,0,0,Driverless,0 (km/h),...,0 (kPa),0 (kPa),NaN,NaN,0 (kPa),0 (kPa),23 (℃),23 (℃),1002,6

In [21]:
df['OP Mode'].unique() # 죄다 운전자 없음이니까 이 열은 버린다
df['편성번호'].unique() # 전부 같은 번호에
df['열차길이'].unique() # 같은 길이

array([6])

In [22]:
df.tail()

,번호,시간,FWD,REV,P/B,Motoring,Braking,Train In Station,OP Mode,Target Speed,...,BC ＃3,BC ＃4,Unnamed: 27,Unnamed: 28,BC ＃7,BC ＃0,Train Room Temp ＃1,Train Outside Temp ＃1,편성번호,열차길이
42999,43000,23:59:55,0,0,0 (%),0,0,0,Driverless,0 (km/h),...,324 (kPa),288 (kPa),NaN,NaN,336 (kPa),336 (kPa),26 (℃),22 (℃),1002,6
43000,43001,23:59:56,0,0,0 (%),0,0,0,Driverless,0 (km/h),...,324 (kPa),288 (kPa),NaN,NaN,336 (kPa),333 (kPa),26 (℃),22 (℃),1002,6
43001,43002,23:59:57,0,0,0 (%),0,0,0,Driverless,0 (km/h),...,324 (kPa),288 (kPa),NaN,NaN,336 (kPa),336 (kPa),26 (℃),22 (℃),1002,6
43002,43003,23:59:58,0,0,0 (%),0,0,0,Driverless,0 (km/h),...,324 (kPa),288 (kPa),NaN,NaN,333 (kPa),336 (kPa),26 (℃),22 (℃),1002,6
43003,43004,23:59:59,0,0,0 (%),0,0,0,Driverless,0 (km/h),...,321 (kPa),288 (kPa),NaN,NaN,336 (kPa),336 (kPa),26 (℃),22 (℃),1002,6