In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
filename = '20180713.csv'
df = pd.read_csv(f'..//Data//metroKOR//{filename}')
print(df.columns)

Index(['번호', '시간', 'FWD', 'REV', 'P/B', 'Motoring', 'Braking',
       'Train In Station', 'OP Mode', 'Target Speed', 'Permitted Speed',
       'Actual Speed', 'DISTANCE', 'Train Speed', 'VOBC ＃1', 'VOBC ＃0',
       'MR Pressure', 'Master Clock of VOBC', 'Line Voltage',
       'Train In Station.1', 'Next Platform ID', 'Final Platform ID',
       'Distance to Target', 'BC ＃1', 'BC ＃2', 'BC ＃3', 'BC ＃4', 'Unnamed: 27',
       'Unnamed: 28', 'BC ＃7', 'BC ＃0', 'Train Room Temp ＃1',
       'Train Outside Temp ＃1', '편성번호', '열차길이'],
      dtype='object')

In [10]:
for word in ['Room', 'Outside']:
    df[f'Train {word} Temp ＃1'] = df[f'Train {word} Temp ＃1'].str[:-3]
    df[f'Train {word} Temp ＃1'] = df[f'Train {word} Temp ＃1'].astype('int64')
    df.rename({f'Train {word} Temp ＃1': f'Train {word} Temp ＃1 (℃)'}, axis=1, inplace=True)

threewords = ['P/B', 'DISTANCE', 'Line Voltage', 'Distance to Target']
for word in threewords:
    df[f'{word}'] = df[f'{word}'].str[:-3]
    df[f'{word}'] = df[f'{word}'].astype('int64')
    
df.rename({'P/B': 'P/B (%)'}, axis=1, inplace=True)
df.rename({'DISTANCE': 'DISTANCE (m)', 'Distance to Target': 'Distance to Target (m)'}, axis=1, inplace=True)
df.rename({'Line Voltage': 'Line Voltage (V)'}, axis=1, inplace=True)
    
for i in [1, 2, 3, 4, 7, 0]:
    df[f'BC ＃{i}'] = df[f'BC ＃{i}'].str[:-5]
    df[f'BC ＃{i}'] = df[f'BC ＃{i}'].astype('int64')
    df.rename({f'BC ＃{i}': f'BC ＃{i} (kPa)'}, axis=1, inplace=True)
    
df['MR Pressure'] = df['MR Pressure'].str[:-5]
df['MR Pressure'] = df['MR Pressure'].str.replace('．', '.')
df['MR Pressure'] = df['MR Pressure'].astype('float64')
df.rename({'MR Pressure': 'MR Pressure (bar)'}, axis=1, inplace=True)

for word in ['Target', 'Permitted', 'Actual', 'Train']:
    df[f'{word} Speed'] = df[f'{word} Speed'].str[:-6]
    df[f'{word} Speed'] = df[f'{word} Speed'].astype('int64')
    df.rename({f'{word} Speed': f'{word} Speed (km/h)'}, axis=1, inplace=True)
    
df.drop(['Unnamed: 27', 'Unnamed: 28'], axis=1, inplace=True)

In [11]:
for ind, word in enumerate(['Target', 'Permitted', 'Actual']):
    df.insert(12+ind, f'{word} Speed (cm/s)', 0)
    df[f'{word} Speed (cm/s)'] = df[f'{word} Speed (km/h)'] * 27.778
    df[f'{word} Speed (cm/s)'] = df[f'{word} Speed (cm/s)'].astype('float64')
    
df.insert(17, 'Train Speed (cm/s)', 0)
df['Train Speed (cm/s)'] = df['Train Speed (km/h)'] * 27.778
df['Train Speed (cm/s)'] = df['Train Speed (cm/s)'].astype('float64')

In [12]:
df.iloc[:, :18]

,번호,시간,FWD,REV,P/B (%),Motoring,Braking,Train In Station,OP Mode,Target Speed (km/h),Permitted Speed (km/h),Actual Speed (km/h),Target Speed (cm/s),Permitted Speed (cm/s),Actual Speed (cm/s),DISTANCE (m),Train Speed (km/h),Train Speed (cm/s)
0,1,12:02:40,1,0,71,1,0,0,Driverless,0,50,40,0.0,1388.90,1111.120,111,41,1138.898
1,2,12:02:41,1,0,71,1,0,0,Driverless,0,90,43,0.0,2500.02,1194.454,128,43,1194.454
2,3,12:02:42,1,0,65,1,0,0,Driverless,0,90,46,0.0,2500.02,1277.788,139,46,1277.788
3,4,12:02:43,1,0,63,1,0,0,Driverless,0,90,48,0.0,2500.02,1333.344,151,48,1333.344
4,5,12:02:44,1,0,63,1,0,0,Driverless,0,90,48,0.0,2500.02,1333.344,164,48,1333.344
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42999,43000,23:59:55,0,0,0,0,0,0,Driverless,0,0,0,0.0,0.00,0.000,2554,0,0.000
43000,43001,23:59:56,0,0,0,0,0,0,Driverless,0,0,0,0.0,0.00,0.000,2554,0,0.000
43001,43002,23:59:57,0,0,0,0,0,0,Driverless,0,0,0,0.0,0.00,0.000,2554,0,0.000
43002,43003,23:59:58,0,0,0,0,0,0,Driverless,0,0,0,0.0,0.00,0.000,2554,0,0.000
43003,43004,23:59:59,0,0,0,0,0,0,Driverless,0,0,0,0.0,0.00,0.000,2554,0,0.000

In [13]:
df.iloc[:, 18:]

,VOBC ＃1,VOBC ＃0,MR Pressure (bar),Master Clock of VOBC,Line Voltage (V),Train In Station.1,Next Platform ID,Final Platform ID,Distance to Target (m),BC ＃1 (kPa),BC ＃2 (kPa),BC ＃3 (kPa),BC ＃4 (kPa),BC ＃7 (kPa),BC ＃0 (kPa),Train Room Temp ＃1 (℃),Train Outside Temp ＃1 (℃),편성번호,열차길이
0,1,1,8.0,12:02:40,25350,0,양재시민의숲(하)(5),경기대학교행(17),3152,0,0,0,0,0,0,23,23,1002,6
1,1,1,8.0,12:02:41,25350,0,양재시민의숲(하)(5),경기대학교행(17),4918,0,0,0,0,0,0,23,23,1002,6
2,1,1,8.0,12:02:41,25350,0,양재시민의숲(하)(5),경기대학교행(17),4910,0,0,0,0,0,0,23,23,1002,6
3,1,1,8.1,12:02:43,25350,0,양재시민의숲(하)(5),경기대학교행(17),4903,0,0,0,0,0,0,23,23,1002,6
4,1,1,8.1,12:02:43,25350,0,양재시민의숲(하)(5),경기대학교행(17),4903,0,0,0,0,0,0,23,23,1002,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42999,1,1,8.4,23:59:56,24900,0,x(0),x(0),0,330,327,324,288,336,336,26,22,1002,6
43000,1,1,8.4,23:59:57,24900,0,x(0),x(0),0,330,327,324,288,336,333,26,22,1002,6
43001,1,1,8.4,23:59:58,24900,0,x(0),x(0),0,330,327,324,288,336,336,26,22,1002,6
43002,1,1,8.4,23:59:58,24900,0,x(0),x(0),0,330,327,324,288,333,336,26,22,1002,6
43003,1,1,8.4,00:00:00,25050,0,x(0),x(0),0,330,327,321,288,336,336,26,22,1002,6

In [14]:
df.dtypes

번호                             int64
시간                            object
FWD                            int64
REV                            int64
P/B (%)                        int64
Motoring                       int64
Braking                        int64
Train In Station               int64
OP Mode                       object
Target Speed (km/h)            int64
Permitted Speed (km/h)         int64
Actual Speed (km/h)            int64
Target Speed (cm/s)          float64
Permitted Speed (cm/s)       float64
Actual Speed (cm/s)          float64
DISTANCE (m)                   int64
Train Speed (km/h)             int64
Train Speed (cm/s)           float64
VOBC ＃1                        int64
VOBC ＃0                        int64
MR Pressure (bar)            float64
Master Clock of VOBC          object
Line Voltage (V)               int64
Train In Station.1             int64
Next Platform ID              object
Final Platform ID             object
Distance to Target (m)         int64
BC ＃1 (kPa)                    int64
BC ＃2 (kPa)                    int64
BC ＃3 (kPa)                    int64
BC ＃4 (kPa)                    int64
BC ＃7 (kPa)                    int64
BC ＃0 (kPa)                    int64
Train Room Temp ＃1 (℃)         int64
Train Outside Temp ＃1 (℃)      int64
편성번호                           int64
열차길이                           int64
dtype: object

In [15]:
df.to_csv('20180713(cm).csv')